<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- ARR reverse-proxy timeout (default 120s). OpenAI quiz + diagrams can exceed that. -->
    <proxy timeout="00:06:00" />
    <rewrite>
      <rules>
        <rule name="LittleCode Next.js reverse proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
